<br><br><br><br><br><br><br><br>
<div class="container">
  <h1>Add An Angle </h1>

  <%= simple_form_for [ @order, @briefing ] do |f| %>
    <div class="row">
        <div class="col-6">
            <%= f.input :release,
                        label: 'Write your Briefing'
                       
                         %>
        </div>

        <div class="col-6">
            <%= f.input :ref1,
                        label: 'reference link 1' %>
         </div>
        <div class="col-12">
            <%= f.input :ref2,
                        label: 'reference link 2',
                        placeholder: '...' %>
         </div>

    <p><%= f.submit "Create your Briefing", class: "btn btn-primary" %></p>
  <% end %>
</div>